version: '3.0'
services:
  tcprunner:
    build: TcpRunner/TcpChatApplicationServer/.
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgresql:
        condition: service_healthy
    networks:
      - backend
    ports:
      - "30000:30000"
    environment:
      RABBITMQ_HOST: rabbitmq
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:30000/health"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 30s
    restart: on-failure  
  deletefriendsnotificationconsumers:
    build:  DeleteFriendsNotificationConsumers/DeleteFriendsNotificationConsumers/.
    depends_on:
      kafka:
        condition: service_healthy
      tcprunner:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:30001/health"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 30s
    networks:
      - backend
    ports:
      - "30001:30001"
    restart: on-failure
  friendnotificationstableconsumers:
    build: FriendNotificationsTableConsumers/FriendNotificationsTableConsumers/.
    depends_on:
      kafka:
        condition: service_healthy
      tcprunner:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:30002/health"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 30s
    networks:
      - backend
    ports:
      - "30002:30002"
    restart: on-failure
  grpcserviceinteractingbetweenusers:
    build: GrpcServiceInteractingBetweenUsers/GrpcServiceInteractingBetweenUsers/.
    networks:
      - backend
    ports:
      - "30003:30003"
    depends_on:
      postgresql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:30003/health"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 30s
  rabbitmqconsumer:
    build: RabbitMqConsumer/RabbitMqConsumer/.
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgresql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:30004/health"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 30s
    networks:
      - backend
    ports:
      - "30004:30004"
    environment:
      RABBITMQ_HOST: rabbitmq
    restart: on-failure  
  requestnotificationconsumers:
    build: RequestNotificationConsumers/RequestNotificationConsumers/.
    depends_on:
      kafka:
        condition: service_healthy
      tcprunner:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:30005/health"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 30s
    networks:
      - backend
    ports:
      - "30005:30005"
  tcpservergetaddfriendrequests:
    build: TcpServerGetAddFriendRequests/TcpServerGetAddFriendRequests/.
    depends_on:
      grpcserviceinteractingbetweenusers:
        condition: service_healthy
    networks:
      - backend
    ports:
      - "30006:30006"
    restart: on-failure
  tcpservergetaddfriendsrequests:
    build: TcpServerGetAddFriendsRequests/TcpServerGetAddFriendsRequests/.
    depends_on:
      grpcserviceinteractingbetweenusers:
        condition: service_healthy
    networks:
      - backend
    ports:
      - "30007:30007"
    restart: on-failure
  tcpservergetdeletefriendrequests:
    build: TcpServerGetDeleteFriendRequests/TcpServerGetDeleteFriendRequests/.
    depends_on:
      grpcserviceinteractingbetweenusers:
        condition: service_healthy
    networks:
      - backend
    ports:
      - "30008:30008"
    restart: on-failure
  tcpservergetdeletefriendsrequests:
    build: TcpServerGetDeleteFriendsRequests/TcpServerGetDeleteFriendsRequests/.
    depends_on:
      grpcserviceinteractingbetweenusers:
        condition: service_healthy
    networks:
      - backend
    ports:
      - "30009:30009"
    restart: on-failure
  workerapplicationfordeletefriendsnotification:
    build: WorkerApplicationForDeleteFriendsNotification/WorkerApplicationForDeleteFriendsNotification/.
    depends_on:
      kafka:
        condition: service_healthy
      deletefriendsnotificationconsumers:
        condition: service_healthy
      postgresql:
        condition: service_healthy
    networks:
      - backend
    ports:
      - "30010:30010"
  workerapplicationforfriendnotificationstable:
    build: WorkerApplicationForFriendNotificationsTable/WorkerApplicationForFriendNotificationsTable/.
    depends_on:
      kafka:
        condition: service_healthy
      friendnotificationstableconsumers:
        condition: service_healthy
      postgresql:
        condition: service_healthy
    networks:
      - backend
    ports:
      - "30011:30011"
    restart: on-failure
  workerapplicationforrequestnotification:
    build: WorkerApplicationForRequestNotification/WorkerApplicationForRequestNotification/.
    depends_on:
      kafka:
        condition: service_healthy
      requestnotificationconsumers:
        condition: service_healthy
      postgresql:
        condition: service_healthy
    networks:
      - backend
    ports:
      - "30012:30012"
    restart: on-failure
  postgresql:
    image: postgres:latest
    container_name: postgres_container    
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: test
    healthcheck:
      test: ["CMD", "psql", "-U", "myuser", "-d", "test", "-c", "SELECT count(*) FROM information_schema.tables WHERE table_schema = 'public' AND table_type = 'BASE TABLE' HAVING count(*) >= 6;"]
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    ports:
      - "5432:5432"
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
  rabbitmq:
    image: "rabbitmq:3-management"
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: password
    healthcheck:
      test: ["CMD", "curl", "-f", "http://guest:password@localhost:15672/api/overview"]
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_config:/etc/rabbitmq
    networks:
      - backend
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    ports:
      - 22181:2181
    networks:
      - backend
  kafka:
    image: confluentinc/cp-kafka:latest
    restart: always
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics.sh", "--bootstrap-server", "localhost:29092", "--list", "|", "grep", "DeleteFriendsNotification", "|", "grep", "FriendNotificationsTable", "|", "grep", "RequestsTableNotificationTopic"]
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    networks:
      - backend

networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"

volumes:
  rabbitmq_data:
  rabbitmq_config:
  postgres_data:
    driver: local