version: '3.0'
services:
  application:
    build: TcpRunner/TcpChatApplicationServer/.
    depends_on:
      - rabbitmq
    networks:
      - backend
    ports:
      - "30000:30000"
    environment:
      RABBITMQ_HOST: rabbitmq
    restart: on-failure   
  consumer:
    build: RabbitMqConsumer/RabbitMqConsumer/.
    depends_on:
      - rabbitmq
      - postgresql
    networks:
      - backend
    ports:
      - "30001:30001"
    environment:
      RABBITMQ_HOST: rabbitmq
    restart: on-failure  
  postgresql:
    image: postgres:latest
    container_name: postgres_container    
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: test
    ports:
      - "5432:5432"
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
  rabbitmq:
    image: "rabbitmq:3-management"
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_config:/etc/rabbitmq
    networks:
      - backend
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181
    networks:
      - backend
  
  kafka:
    image: confluentinc/cp-kafka:latest
    restart: always
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - backend

networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"

volumes:
  rabbitmq_data:
  rabbitmq_config:
  postgres_data:
    driver: local